<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SqlData">
	
	<select id="xml_select" resultType="xmlDto">
		select * from light.product;
	</select>
	<select id="xml_select_name" resultType="xmlDto" parameterType="xmlDto">
		select * from light.product where product_name=#{product_name};
	</select>
	<select id="xml_select_countAll" resultType="Integer" >
		select count(*) from light.product;
	</select>
	<select id="xml_select_count" resultType="Integer" parameterType="xmlDto" >
		select count(*) from light.product where product_category=#{product_category};
	</select>
	<select id="xml_select_list" resultType="xmlDto" parameterType="xmlDto">
		select * from light.product where product_category=#{product_category} limit #{startrow},5;
	</select>
	<select id="xml_select_weatherProList" resultType="xmlDto" parameterType="xmlDto">
		select * from light.product where product_weather=#{product_weather};
	</select>
	
	<insert id="xml_insert_prolist" parameterType="xmlDto">
		insert into light.product values(#{product_name}, #{product_category}, #{product_price}, #{product_color}, '', #{product_img}, #{product_contents}, #{product_weather}); 
	</insert>
	
	<update id="xml_update" parameterType="xmlDto">
		update light.product set product_name=#{product_name}, product_category=#{product_category}, product_price=#{product_price}, product_color=#{product_color}, product_img=#{product_img}, product_contents=#{product_contents} where product_name=#{check};  
	</update>
	
	<delete id="xml_delete" parameterType="xmlDto">
		delete from product where product_name=#{product_name};
	</delete>
		
</mapper>