<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration

PUBLIC "-//mybatis.org//DTD Config 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.TeamPro.dto.Product_dto" alias="xmlDto"/>
		<typeAlias type="com.TeamPro.dto.PageInfo" alias="pageInfo"/>
		<typeAlias type="com.TeamPro.dto.Buyhistory_dto" alias="buyhistory"/>
		<typeAlias type="com.TeamPro.dto.CustomerInfo_dto" alias="customerInfo"/>
		<typeAlias type="com.TeamPro.dto.Review_dto" alias="review"/>
		<typeAlias type="com.TeamPro.dto.ReviewComment_dto" alias="reviewComment"/>
		<typeAlias type="com.TeamPro.dto.ReviewReply_dto" alias="reviewReply"/>
		<typeAlias type="com.TeamPro.dto.ReviewLike_dto" alias="reviewLike"/>
		<typeAlias type="com.TeamPro.dto.CustomerCenter_dto" alias="customerCenter"/>
	</typeAliases>

	<environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/teamlight?characterEncoding=utf8&amp;serverTimezone=UTC" />
                <property name="username" value="teamlight" />
                <property name="password" value="teamlight1995!" />
            </dataSource>
        </environment>
    </environments>

	<mappers>
		<mapper resource="com/TeamPro/dao/mapper.xml" />
	</mappers>

</configuration>

