/*

customer_notice style

*/

html {
	color: #656565;
}
section { margin: 0 !important; }

.titleText {
	display: flex;
    justify-content: center;
	height: 400px;
	margin: 0 auto;
	padding-top: 235px;
    box-sizing: border-box;
	font-size: 24px;
    letter-spacing: 0.8px;
    font-family: NanumMyeongjoBold, serif;
    background: url(../images/product_img/stand/stand04_03.jpg) center -290px/cover no-repeat;
}

/*
=====================================================
pagenation
=====================================================
*/
.pagenation {
	display: flex;
    justify-content: center;
	margin-top: 50px;
}
.pagenation ul li {
	display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}
.pagenation ul li:not(:last-of-type) {
	margin-right: 10px;
}
.pagenation ul li a {
	color: #656565;
	font-size: 16px;
}

/*pagenation*/
.pagenation ul li:hover {
	font-weight: bold;
}

/*
===================================================================
menuContainer
===================================================================
*/
.menuContainer {
    background-color: #efdbc4;
}
.menuContainer,
.menuContainer ul {
	display: flex;
	align-items: center;
	justify-content: center;
}
.menuContainer ul {
	width: 1200px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.menuContainer ul li.bgWhite {
    background: #fff;
}
.menuContainer ul li {
	width: 50%;
    padding: 15px 0;
    box-sizing: border-box;
	text-align: center;
	letter-spacing: 0.3px;
    cursor: pointer;
}
.menuContainer ul li:not(:last-of-type) {
    border-right: 1px solid #fff;
}

/*
===================================================================
customerContainer
===================================================================
*/
.customerContainer {
	width: 1200px;
	margin: 100px auto 0;
}
.customerContainer .customerContents > h2 {
	margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
}

/*
===================================================================
.customerContents.notice
===================================================================
*/
.customerContainer .customerContents.notice .noticeConn .notice_header {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
}

/* noticeInner */
.customerContainer .customerContents.notice .noticeConn {
	width: 100%;
}
.customerContainer .customerContents.notice .noticeConn .noticeInner {
	display: flex;
	align-content: center;
	padding: 20px 0;
	border-bottom: 1px solid #ddd;
}
.customerContainer .customerContents.notice .noticeConn .noticeInner > div {
	text-align: center;
	box-sizing: border-box;
}
.customerContainer .customerContents.notice .noticeConn .noticeInner .notice_num {
	width: 15%;
}
.customerContainer .customerContents.notice .noticeConn .noticeInner .notice_title {
	width: 65%;
}
.customerContainer .customerContents.notice .noticeConn .noticeInner .notice_person {
	width: 20%;
}

/* notice_item */
.customerContainer .customerContents.notice .noticeConn .notice_item .notice_title {
	text-align: left;
	cursor: pointer;
}

/*
=====================================================
.customerContents.download
=====================================================
*/
.customerContainer .customerContents.download > h2 {
	margin-bottom: 20px;
}
.customerContainer .customerContents.download .downloadTable h3 {
	margin-bottom: 7px;
	font-size: 17px;
}
.customerContainer .customerContents.download .downloadTable table {
	width: 100%;
}
.customerContainer .customerContents.download .downloadTable table:not(:last-of-type) {
	margin-bottom: 20px;
}
.customerContainer .customerContents.download .downloadTable tr:first-of-type th {
	background-color: #f3f3f3;
}
.customerContainer .customerContents.download .downloadTable th,
.customerContainer .customerContents.download .downloadTable td {
	border: 1px solid #ddd;
	padding: 20px;
	box-sizing: border-box;
	vertical-align: middle;
}

.customerContainer .customerContents.download .filedown {
	width: 25px;
	height: 25px;
	background: url(../images/icon/download_icon.png) center/cover no-repeat;
	border: transparent;
	cursor: pointer;
	margin: 0 auto;
}

/*
=====================================================
.customerContents.offline
=====================================================
*/
.customerContainer .customerContents.offline .mapApiContainer {
	width: 100%;
	height: 400px;
	background-color: #aaa;
}