@charset "utf-8";

#wrap {
    width: 100%;
    margin: 0 auto;
}

/* class = member ------------------------------*/
.member {
    margin-bottom: 70px;
    background-color: #efdbc4;
}
.member > .member-inner{
	width: 1200px;
    margin: 0 auto;
    padding: 30px 20px 30px 270px;
    box-sizing: border-box;
	overflow: hidden;
}
.member > .member-inner p {
    letter-spacing: 0.3px;
    font-size: 15px;
}
.member > .member-inner .memberId {
    float: left;
}
.member > .member-inner .updateIdPwd {
	cursor: pointer;
    float: right;
    color: #8e8e8e;
}
/* class = recentNav ------------------------------*/
.recentNav {
    width: 7%;
    height: 370px;
    position: fixed;
    right: 180px;
    top: 446px;
}
.recentNav ul li:first-of-type {
	font-size: 0.9em;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgray;
}
.recentNav li {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.recentNav li:last-of-type {
    margin-bottom: none;
}
.recentNav img {
	width: 110px;
    height: 110px;
    border-radius: 85px;
}

/* class = contents ------------------------------*/
.contents {
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
}
/*mypageAsideTitle*/
.mypageAsideTitle {
	float: left;
    width: 200px;
}
.mypageAside a {
    color: #656565;
    width: 100%;
    height: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
}
.mypageAside a:hover {
    font-weight: bold;
}
.mypageAsideTitle h3 {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
    color: #333;
}
/*mypageAside*/
.mypageAside li:not(:last-of-type){
	border-bottom: none;
}
.mypageAside li {
    color: #666;
    font-size: 12px;
    font-weight: 550;
    height: 50px;
    border: 1px solid #c3c3c3;
}
.mypageAside li.bg{
    background-color: #e8e8e8;
}
.mypageAside li p {
    position: absolute;
    right: 20px;
}

/*

================================================

*/

/*

mypage_contents -> buyhistory

*/
/* contentsTitle */
.contentsTitle {
    float: right;
    width: 910px;
    margin: 0 20px 0 0;
    padding-bottom: 20px;
    border-bottom: 2px solid #ceb598;
}
.contentsTitle li {
    display: inline-flex; 
}
.contentsTitle ul li:nth-of-type(1) {
    float: left;
    padding-top: 3px;
    font-weight: 600;
    font-size: 22px;
    color: #444;
}
/* contentsOrder */
.contentsOrder {
    width: 910px;
    margin-right: 20px;
    float: right;
}
/* orderList */
.orderList {
    margin-top: 30px;
}
.orderList >p {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #656565;
}
/* order */
.order {
    padding: 20px 30px;
    box-sizing: border-box;
    border-radius: 11px;
    box-shadow: 0px 2px 3px 0px #ddd;
    color: #4c4c4c;
    background-color: #f7f7f7;
}
.order >li:nth-of-type(1) {
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
.order > li:last-of-type {
    display: flex;
    align-items: center;
}
.order div:nth-of-type(1) {
    float: left;
}
.order input:nth-of-type(1) {
	vertical-align: middle;
}
/* addEtc */
.addEtc {
    float: right;
    font-size: 0.8em;
    color: #7f7f7f;
    margin-top: 4px;
}
.addEtc a {
    color: #7f7f7f;
}
.addEtc li {
	margin-left: 7px;
    display: inline-block;
}
/* orderImgBox */
.orderImgBox {
    display: inline-block;
    width: 120px;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.orderImgBox img {
    width: 130%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* orderInfo */
.orderInfo > li p {
    display: inline-block;
    font-size: 0.9em;
    margin-left: 25px;
} 
.orderInfo > li p:first-of-type {
    font-weight: bold;
}
.orderInfo > li:not(:nth-of-type(3)) {
    margin-bottom: 10px;
}

/*

mypage_contents->review

*/
/* reviewContain */
.reviewContain {
	margin-left: 15px;
    margin-right: 15px;
	height: 80px;
	display: inline-block;
	overflow: auto;
	font-size: 0.9em;
}
/* applyReview */
.checkReview h1 {
    margin: 30px 0 10px 0;
    font-weight: bold;
    font-size: 1.2em;
}
.checkReview h1 .round {
    width: 15px;
    height: 15px;
    background: #aaa;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
    margin-right: 7px;
}
.checkReview h1 .round:before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 4px;
    left: 4px;
}
.checkReview ul {
    color: #656565;
    margin: 20px 0 40px 20px;
}
.checkReview ul .number {
    margin-bottom: 10px;
    font-weight: bold;
}
.checkReview ul .innerNumber {
    margin: 0 0 10px 20px;
    font-size: 0.9em;
}
/* applyReview */
.applyReview h1 {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.2em;
}
.applyReview h1 .round {
    width: 15px;
    height: 15px;
    background: #aaa;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
    margin-right: 7px;
}
.applyReview h1 .round:before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 4px;
    left: 4px;
}
.applyReview table {
    width: 100%;
}
.applyReview table tr:first-of-type {
    border-top: 1px solid black;
}
.applyReview table tr {
    border-bottom: 1px solid gray;
}
.applyReview table th {
    font-size: 0.9em;
    padding: 20px 20px;
    text-align: left;
    vertical-align: middle;
    border-right: 1px solid gray;
    background-color: #e8e8e8;
}
.applyReview table td {
    width: 650px;
    padding: 20px 30px;
    vertical-align: left;
}
.applyReview table tr td select {
    height: 31px;
    width: 200px;
}
.applyReview textarea {
    width: 100%;
    height: 150px;
}
.applyReview table tr td input[type=date] {
    height: 26px;
    width: 194px;
}
.applyReview table tr td input[type=text] {
    height: 25px;
    width: 192px;
}
.applyReview_btn {
    margin: 50px 0 0 373px;
    background-color: #fff;
    border: 2px solid #ceb598;
    color: #ceb598;
    font-weight: bold;
    width: 165PX;
    height: 60PX;
    cursor: pointer;
}

/*

mypage_contents->cart

*/
/* allCheckbox */
.allCheckbox {
	margin-top: 30px;
    font-size: 0.9em;
    font-weight: bold;
    color: #4c4c4c;
}
.allCheckbox > ul > li {
	display: inline-block;
}
.allCheckbox > ul > li:first-of-type {
	margin-right: 20px;
}
.allCheckbox input {
	vertical-align: middle;
}
.cartDel_btn {
    margin-left: 530px;
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid #ceb598;
    color: #ceb598;
    font-weight: bold;
    cursor: pointer;
}
/* cartList */
.cartList {
	 margin-top: 30px;
}
.cartList >p {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #656565;
}
/* cart */
.cart {
    padding: 20px 30px;
    box-sizing: border-box;
    border-radius: 11px;
    box-shadow: 0px 2px 3px 0px #ddd;
    color: #4c4c4c;
    background-color: #f7f7f7;
}
.cart >li:nth-of-type(1) {
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
.cart > li:last-of-type {
    display: flex;
    align-items: center;
}
.cart div:nth-of-type(1) {
    float: left;
}
.cart input:nth-of-type(1) {
	vertical-align: middle;
}
/* cartInfo */
.cartInfo > li { 
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1em;
    font-weight: bold;
} 
.cartInfo > li:first-of-type {
	margin-left: 50px;
}
.cartInfo > li:first-of-type > ul:first-of-type {
    margin-bottom: 20px;
}
.cartBtnDetail > ul {
	margin-left: 400px;
}
.cartInfo > li:not(:first-of-type) > ul > li {
	width: 150px;
	height: 45px;
}
.cartInfo > li:not(:first-of-type) > ul > li input {
	background-color: #fff;
	border: 2px solid #ceb598;
	color: #ceb598;
	font-weight: bold;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.cartBtnContents {
    margin: 50px 33px 0 0;
}
.cartBtn > li {
    width: 150px;
    height: 45px;
    float: right;
}
.cartBtn > li:first-of-type {
    margin-left: 30px;   
}
.cartBtn > li input {
    background-color: #fff;
    border: 2px solid #ceb598;
    color: #ceb598;
    font-weight: bold;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/* amount */
.amount {
	overflow: hidden;
}
.amount li {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 25px;
	height: 25px;
	background-color: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
}
.amount li:nth-of-type(2) {
	width: 70px;
}
.amount li:not(:last-of-type) {
	border-right: none;
}
.amount li input {
	width: 100%;
	height: 100%;
	background-color: transparent; 
	border: transparent;
	text-align: center;
}
.amount li a,
.amount li input {
	color: #656565;
}

/*

mypage_contents->as

*/
/* contentsAS */
.contentsAS {
    float: right;
    width: 910px;
    padding-bottom: 20px;
}
.contentsAS table {
    width: 90%;
    margin: 20px 43px;
    display: inline-block;
}
.contentsAS table tr {
    text-align: center;
    font-size: 0.9em;
    color: #656565;
}
.contentsAS table tr:first-of-type {
    background-color: #e8e8e8;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.contentsAS table tr th {
    padding: 20px 20px;
    border-right: 1px solid #fff;
}
.contentsAS table tr:last-of-type {
    border-bottom: 1px solid gray;   
}
.contentsAS table td {
    width: 650px;
    padding: 20px 30px;
    vertical-align: left;
}
/*.asWrite input[type=button]{
    float: right;
    margin-right: 50px;
    background-color: #fff;
    border: 2px solid #ceb598;
    color: #ceb598;
    font-weight: bold;
    width: 85PX;
    height: 40PX;
    cursor: pointer;
}*/
/*.none {
    display: none;
}*/
/* applyAS.jsp */
.checkAS h1 {
    margin: 30px 0 10px 0;
    font-weight: bold;
    font-size: 1.2em;
}
.checkAS h1 .round {
    width: 15px;
    height: 15px;
    background: #aaa;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
    margin-right: 7px;
}
.checkAS h1 .round:before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 4px;
    left: 4px;
}
.checkAS ul {
    color: #656565;
    margin: 20px 0 40px 20px;
}
.checkAS ul .number {
    margin-bottom: 10px;
    font-weight: bold;
}
.checkAS ul .innerNumber {
    margin: 0 0 10px 20px;
    font-size: 0.9em;
}
/* applyAS */
.applyAS h1 {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.2em;
}
.applyAS h1 .round {
    width: 15px;
    height: 15px;
    background: #aaa;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
    margin-right: 7px;
}
.applyAS h1 .round:before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 4px;
    left: 4px;
}
.applyAS table {
    width: 100%;
}
.applyAS table tr:first-of-type {
    border-top: 1px solid black;
}
.applyAS table tr {
    border-bottom: 1px solid gray;
}
.applyAS table th {
    font-size: 0.9em;
    padding: 20px 20px;
    text-align: left;
    vertical-align: middle;
    border-right: 1px solid gray;
    background-color: #e8e8e8;
}
.applyAS table td {
    width: 650px;
    padding: 20px 30px;
    vertical-align: left;
}
.applyAS table tr td select {
    height: 31px;
    width: 200px;
}
.applyAS textarea {
    width: 100%;
    height: 150px;
}
.applyAS table tr td input[type=date] {
    height: 26px;
    width: 194px;
}
.applyAS table tr td input[type=text] {
    height: 25px;
    width: 192px;
}
.applyAS_btn {
    margin: 50px 0 0 373px;
    background-color: #fff;
    border: 2px solid #ceb598;
    color: #ceb598;
    font-weight: bold;
    width: 165PX;
    height: 60PX;
    cursor: pointer;
}

/*

mypage_contents->개인정보수정

*/
/* contentMember */
.contentMember {
    float: right;
    width: 910px;
    padding-bottom: 20px;
}
.contentMember ul {
    font-style: 0.9em;
}
.contentMember ul li:first-of-type {
    text-align: center;
    margin-top: 50px;
}
.contentMember ul li:last-of-type {
    text-align: center;
    margin-top: 20px;
}
.contentMember input[type=password] {
    border: 2px solid ;
    font-weight: bold;
}
/*memberInfoBtn*/
.memberInfoBtn {
    margin: 20px 0 0 415px;
    background-color: #fff;
    border: 2px solid #ceb598;
    color: #ceb598;
    font-weight: bold;
    width: 80PX;
    height: 40PX;
}