@charset "utf-8";

header + section {
	margin: 85px auto 0 !important;
    height: 610px;
}

section {
	display: flex;
    align-items: center;
    justify-content: center;
}
footer {
	margin: 0 auto !important;
}
.findIdformContainer {
    height: auto;
    padding: 50px 60px;
    box-sizing: border-box;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9);
}
.titleText {
	margin-bottom: 40px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
.findIdContainer li {
	text-align: center;
	font-size: 15px;
}
.findIdContainer ul:first-of-type li:first-of-type {
	margin-bottom: 8px;
}
.findIdContainer ul:first-of-type li:last-of-type {
	margin-bottom: 40px;
}

.findIdContainer {
	height: 0 auto;
}
.findIdInputInfo li:not(:last-of-type) {
	margin-bottom: 10px;
}
.findIdInputInfo li:last-of-type {
	margin-bottom: 30px;
}
.findIdInputInfo input {
	width: 400px;
    height: 45px;
    border: 1px solid #c1bfbf;
    border-radius: 5px;
}



/*btnContainer*/
.btnContainer {
	text-align: center;
}
input.button[type="submit"] {
	width: 406px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
	background-color: #ffc88a;
	border: 2px solid #ffc88a;
    border-radius: 6px;
}
input.button[type="submit"]:hover {
	background-color: #f7bc79;
	border: 2px solid #f7bc79;
}




